@tailwind base;
@tailwind components;
@tailwind utilities;


*{ 
  padding: 0%;
  margin: 0%;
}

body { 
    background-image: url(sources/Wireframe\ -\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

a {
  font-family: 'Bebas Neue', cursive;}

p {
  font-family: 'Bebas Neue', cursive;
}

span {
  color: #fff700;
}

